# data_world.csv

Energia grupowana po regionie i aaczasie + informacje o regionie, energia ciagła (LSTM embeddings), encoder bez atencji. Tylko transformer.

In [20]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import warnings
from sklearn.preprocessing import MinMaxScaler
warnings.filterwarnings('ignore')

In [54]:
class PositionalEmbedding(tf.keras.layers.Layer):
    def __init__(self, vocab_size, d_model):
        super().__init__()
        self.d_model = d_model
        self.lstm = tf.keras.layers.LSTM(d_model, return_sequences=True)
        self.pos_encoding = tf.keras.layers.Embedding(100, d_model)

    def call(self, x):
        length = tf.shape(x)[1]
        x = self.lstm(x)
        x_pos = tf.range(length, dtype=tf.int32)
        x_pos = self.pos_encoding(x_pos)
        x = x + x_pos
        return x

In [22]:
class BaseAttention(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super().__init__()
        self.mha = tf.keras.layers.MultiHeadAttention(**kwargs)
        self.layernorm = tf.keras.layers.LayerNormalization()
        self.add = tf.keras.layers.Add()

In [23]:
class CrossAttention(BaseAttention):
    def call(self, x, context):
        attn_output = self.mha(
          query=x,
          key=context,
          value=context)

        x = self.add([x, attn_output])
        x = self.layernorm(x)

        return x

In [24]:
class GlobalSelfAttention(BaseAttention):
    def call(self, x):
        attn_output = self.mha(
            query=x,
            value=x,
            key=x)
        x = self.add([x, attn_output])
        x = self.layernorm(x)
        return x

In [25]:
class CausalSelfAttention(BaseAttention):
    def call(self, x):
        attn_output = self.mha(
            query=x,
            value=x,
            key=x,
            use_causal_mask = True)
        x = self.add([x, attn_output])
        x = self.layernorm(x)
        return x

In [26]:
class FeedForward(tf.keras.layers.Layer):
    def __init__(self, d_model, dff, dropout_rate=0.1):
        super().__init__()
        self.seq = tf.keras.Sequential([
        tf.keras.layers.Dense(dff, activation='relu'),
        tf.keras.layers.Dense(d_model),
        tf.keras.layers.Dropout(dropout_rate)
        ])
        self.add = tf.keras.layers.Add()
        self.layer_norm = tf.keras.layers.LayerNormalization()

    def call(self, x):
        x = self.add([x, self.seq(x)])
        x = self.layer_norm(x) 
        return x

In [27]:
class EncoderLayer(tf.keras.layers.Layer):
    def __init__(self,*, d_model, num_heads, dff, dropout_rate=0.1):
        super().__init__()

        self.self_attention = GlobalSelfAttention(
            num_heads=num_heads,
            key_dim=d_model,
            dropout=dropout_rate)

        self.ffn = FeedForward(d_model, dff)

    def call(self, x):
        x = self.self_attention(x)
        x = self.ffn(x)
        return x

In [28]:
class Encoder(tf.keras.layers.Layer):
    def __init__(self, *, num_layers, d_model, num_heads,
                dff, vocab_size, dropout_rate=0.1):
        super().__init__()
        self.d_model = d_model
        self.num_layers = num_layers
        self.emb_x = tf.keras.layers.Embedding(vocab_size, d_model)
        self.emb_y = tf.keras.layers.Embedding(vocab_size, d_model)
        self.conc = tf.keras.layers.Concatenate(axis=-2)
        self.dense = tf.keras.layers.Dense(4 * d_model)
        self.dense2 = tf.keras.layers.Dense(d_model)

    def call(self, features):
        pos = features
        x = self.emb_x(pos[:,0][:, tf.newaxis])
        y = self.emb_y(pos[:,1][:, tf.newaxis])
        x = self.conc([x,y])
        x = self.dense(x)
        x = self.dense2(x)
        return x  # Shape `(batch_size, seq_len, d_model)`.

In [29]:
class DecoderLayer(tf.keras.layers.Layer):
    def __init__(self,
                *,
                d_model,
                num_heads,
                dff,
                dropout_rate=0.1):
        super(DecoderLayer, self).__init__()

        self.causal_self_attention = CausalSelfAttention(
            num_heads=num_heads,
            key_dim=d_model,
            dropout=dropout_rate)

        self.cross_attention = CrossAttention(
            num_heads=num_heads,
            key_dim=d_model,
            dropout=dropout_rate)

        self.ffn = FeedForward(d_model, dff)

    def call(self, x, context):
        x = self.causal_self_attention(x=x)
        x = self.cross_attention(x=x, context=context)

        x = self.ffn(x)  # Shape `(batch_size, seq_len, d_model)`.
        return x

In [30]:
class Decoder(tf.keras.layers.Layer):
    def __init__(self, *, num_layers, d_model, num_heads, dff, vocab_size,
                dropout_rate=0.1):
        super(Decoder, self).__init__()

        self.d_model = d_model
        self.num_layers = num_layers

        self.pos_embedding = PositionalEmbedding(vocab_size=vocab_size,
                                                d_model=d_model,)
        self.dropout = tf.keras.layers.Dropout(dropout_rate)
        self.dec_layers = [
            DecoderLayer(d_model=d_model, num_heads=num_heads,
                        dff=dff, dropout_rate=dropout_rate)
            for _ in range(num_layers)]

        self.last_attn_scores = None

    def call(self, x, context):
        # `x` is token-IDs shape (batch, target_seq_len)
        x = self.pos_embedding(x)  # (batch_size, target_seq_len, d_model)

        x = self.dropout(x)

        for i in range(self.num_layers):
            x  = self.dec_layers[i](x, context)

        # The shape of x is (batch_size, target_seq_len, d_model).
        return x

In [31]:
class Transformer(tf.keras.Model):
    def __init__(self, *, num_layers, d_model, num_heads,
                dropout_rate=0.1, vocab_size):
        super().__init__()
        self.encoder = Encoder(num_layers=num_layers, d_model=d_model,
                            num_heads=num_heads, dff=4*d_model,
                            vocab_size=vocab_size,
                            dropout_rate=dropout_rate)

        self.decoder = Decoder(num_layers=num_layers, d_model=d_model,
                            num_heads=num_heads, dff=4*d_model,
                            vocab_size=vocab_size,
                            dropout_rate=dropout_rate)

        self.final_layer = tf.keras.layers.Dense(2)

    def call(self, inputs):
        # To use a Keras model with `.fit` you must pass all your inputs in the
        # first argument.
        x, context  = inputs
        context = self.encoder(context)  # (batch_size, context_len, d_model)
        x = self.decoder(x, context) # (batch_size, target_len, d_model)
        x = x[:, -1, :]
        logits = self.final_layer(x)  # (batch_size, 1, target_vocab_size)

        return logits

In [32]:
df = pd.read_csv('../../data/data_world.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1930-12-08T08:01:02.000Z,23.261,120.277,15.0,6.3,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:43.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1930-12-03T18:51:47.000Z,18.233,96.298,10.0,7.4,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:43.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1930-12-02T07:01:30.000Z,25.854,98.356,35.0,6.2,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:43.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1930-11-28T07:32:56.000Z,18.779,-106.767,15.0,6.3,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:43.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1930-11-25T19:02:53.000Z,35.050,139.129,15.0,6.9,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:43.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df = df[["time", "latitude", "longitude", "mag"]]

In [34]:
df["time"] = pd.to_datetime(df["time"], format="%Y-%m-%dT%H:%M:%S.%fZ")
df

                          time  latitude  longitude  mag
0      1930-12-08 08:01:02.000   23.2610   120.2770  6.3
1      1930-12-03 18:51:47.000   18.2330    96.2980  7.4
2      1930-12-02 07:01:30.000   25.8540    98.3560  6.2
3      1930-11-28 07:32:56.000   18.7790  -106.7670  6.3
4      1930-11-25 19:02:53.000   35.0500   139.1290  6.9
...                        ...       ...        ...  ...
797041 2018-09-01 01:14:38.230  -30.4830  -177.9279  4.3
797042 2018-09-01 01:07:59.120  -10.7558   124.3621  4.0
797043 2018-09-01 01:00:13.810   -5.5167   147.1735  4.6
797044 2018-09-01 00:27:11.440   46.8819   155.6566  4.3
797045 2018-09-01 00:00:47.980  -55.7508   -28.3561  4.8

[797046 rows x 4 columns]

In [35]:
time_split = 30
time_cut = dt.datetime(1973, 1, 1)
geo_split = 10

In [36]:
df = df[df["time"] > time_cut]
df["energy"] = 10**(1.44*df["mag"]+5.24)
df["label"] = np.where(df["mag"] > 5, 1, 0)
df["time"] = df["time"].dt.floor('d')
df["time"] = df["time"] - np.min(df["time"])
df["time"] = df["time"].dt.days // time_split
df["time"] = df["time"].astype(int)
df["latitude"] = df["latitude"] // geo_split
df["latitude"] = df["latitude"] + np.abs(np.min(df["latitude"]))
df["longitude"] = df["longitude"] // geo_split
df["longitude"] = df["longitude"] + np.abs(np.min(df["longitude"]))

In [37]:
df_agg = df.groupby(["latitude", "longitude", "time"]).agg({"energy": "sum", "label": "sum"}).reset_index()
df_agg

       latitude  longitude  time        energy  label
0           0.0       13.0   268  1.018591e+12      0
1           0.0       22.0   482  3.767038e+11      0
2           0.0       31.0   375  5.248075e+11      0
3           0.0       31.0   473  7.311391e+11      0
4           0.0       33.0   280  2.703958e+11      0
...         ...        ...   ...           ...    ...
71216      17.0       30.0   487  1.018591e+12      0
71217      17.0       30.0   489  3.767038e+11      0
71218      17.0       30.0   509  7.311391e+11      0
71219      17.0       30.0   538  3.767038e+11      0
71220      17.0       30.0   543  1.018591e+12      0

[71221 rows x 5 columns]

In [38]:
df_agg["label"] = np.where(df_agg["label"] > 0, 1, 0)

In [39]:
def make_ds(df_agg, block_size, vocab_size):
    dfs_train, dfs_val = [], []
    for i in df_agg["latitude"].unique():
        for j in df_agg["longitude"].unique():
            tmp = df_agg[(df_agg["latitude"] == i) & (df_agg["longitude"] == j)]
            if not tmp.empty:
                start = max(tmp["time"].min() - block_size, 0)
                end = min(tmp["time"].max() + block_size, df_agg["time"].max())
                tmp = tmp.set_index("time").reindex(range(start, end)).fillna(0).rename_axis('time').reset_index()
                tmp["label"] = tmp["label"].shift(-1)
                tmp["latitude"] = i
                tmp["longitude"] = j
                n = int(0.8 * len(tmp))
                df_train = tmp[:n]
                df_val = tmp[n:]
                scaler = MinMaxScaler()
                df_train["energy"] = scaler.fit_transform(df_train["energy"].values.reshape(-1, 1))
                df_val["energy"] = scaler.transform(df_val["energy"].values.reshape(-1, 1))
                for idx in range(1, block_size):
                    df_train["energy" + str(idx)] = df_train["energy"].shift(idx)
                    df_val["energy" + str(idx)] = df_val["energy"].shift(idx)
                dfs_train.append(df_train)
                dfs_val.append(df_val)
    df_final_train = pd.concat(dfs_train)
    df_final_val = pd.concat(dfs_val)
    return df_final_train, df_final_val

In [40]:
block_size = 16
vocab_size = 64
df_train, df_val = make_ds(df_agg, block_size, vocab_size)
df_train.dropna(inplace=True)
df_val.dropna(inplace=True)

In [41]:
df_train.head()

,time,latitude,longitude,energy,label,energy1,energy2,energy3,energy4,energy5,energy6,energy7,energy8,energy9,energy10,energy11,energy12,energy13,energy14,energy15
15,267,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,268,0.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,269,0.0,13.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,270,0.0,13.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,271,0.0,13.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
x_train = df_train.drop(["label", "latitude", "longitude", "time"], axis=1).to_numpy().reshape(-1, block_size, 1)
y_train = df_train["label"].to_numpy()
x_val = df_val.drop(["label", "latitude", "longitude", "time"], axis=1).to_numpy().reshape(-1, block_size, 1)
y_val = df_val["label"].to_numpy()

In [49]:
x_pos_train = df_train[["longitude", "latitude"]].to_numpy()
x_pos_val = df_val[["longitude", "latitude"]].to_numpy()

In [50]:
# add anoother column whith 1 - label
y_train = y_train.reshape(-1, 1)
y_val = y_val.reshape(-1, 1)
y_train = np.concatenate((y_train, 1 - y_train), axis=1)
y_val = np.concatenate((y_val, 1 - y_val), axis=1)

In [55]:
model = Transformer(num_layers=4, d_model=256, num_heads=4, dropout_rate=0, vocab_size=vocab_size)

In [56]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.0003),
                loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
                metrics=['accuracy', tf.keras.metrics.F1Score()])

In [57]:
model.fit([x_train, x_pos_train], y_train, epochs=40, batch_size=512, validation_data=([x_val, x_pos_val], y_val))

Epoch 1/40

2023-10-02 20:36:12.298249: I tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:432] Loaded cuDNN version 8902
Could not load symbol cublasGetSmCountTarget from libcublas.so.11. Error: /home/majkel/miniconda3/lib/libcublas.so.11: undefined symbol: cublasGetSmCountTarget
2023-10-02 20:36:13.327176: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7f6254104940 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2023-10-02 20:36:13.327256: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 2060 with Max-Q Design, Compute Capability 7.5
2023-10-02 20:36:13.336204: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:255] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2023-10-02 20:36:13.553099: I ./tensorflow/compiler/jit/device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

329/329 [==============================] - 144s 345ms/step - loss: 0.3176 - accuracy: 0.8948 - f1_score: 0.6362 - val_loss: 0.2606 - val_accuracy: 0.9050 - val_f1_score: 0.6911
Epoch 2/40
329/329 [==============================] - 165s 502ms/step - loss: 0.2357 - accuracy: 0.9152 - f1_score: 0.7386 - val_loss: 0.2530 - val_accuracy: 0.9104 - val_f1_score: 0.7248
Epoch 3/40
329/329 [==============================] - 199s 606ms/step - loss: 0.2253 - accuracy: 0.9178 - f1_score: 0.7504 - val_loss: 0.2345 - val_accuracy: 0.9129 - val_f1_score: 0.7543
Epoch 4/40
329/329 [==============================] - 222s 675ms/step - loss: 0.2189 - accuracy: 0.9189 - f1_score: 0.7567 - val_loss: 0.2353 - val_accuracy: 0.9126 - val_f1_score: 0.7436
Epoch 5/40
329/329 [==============================] - 207s 631ms/step - loss: 0.2161 - accuracy: 0.9189 - f1_score: 0.7569 - val_loss: 0.2286 - val_accuracy: 0.9133 - val_f1_score: 0.7540
Epoch 6/40
329/329 [==============================] - 224s 681ms/step - loss: 0.2128 - accuracy: 0.9188 - f1_score: 0.7572 - val_loss: 0.2283 - val_accuracy: 0.9133 - val_f1_score: 0.7563
Epoch 7/40
329/329 [==============================] - 228s 692ms/step - loss: 0.2120 - accuracy: 0.9190 - f1_score: 0.7584 - val_loss: 0.2268 - val_accuracy: 0.9122 - val_f1_score: 0.7363
Epoch 8/40
 12/329 [>.............................] - ETA: 2:28 - loss: 0.2092 - accuracy: 0.9201 - f1_score: 0.7567

KeyboardInterrupt:

In [41]:
model.count_params()

7423490

In [42]:
model.summary()

Model: "transformer_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 encoder_2 (Encoder)         multiple                  3175424

 decoder_2 (Decoder)         multiple                  4247552

 dense_50 (Dense)            multiple                  514

=================================================================
Total params: 7423490 (28.32 MB)
Trainable params: 7423490 (28.32 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________